<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/static/materialize/css/materialize.min.css}"/>
    <title>Plex Notifier Settings</title>
</head>
<body>
<div class="container">
    <h2>Plex Notifier Settings</h2>

    <div class="row">
        <form class="col s10 offset-s1" action="#" th:action="@{/settings}" th:object="${settings}" method="post">
            <div class="row">
                <div class="input-field col s6">
                    <input type="text" th:field="*{serverAddress}" class="validate"/>
                    <label th:for="*{serverAddress}">Server Address</label>
                </div>
                <div class="input-field col s6">
                    <input type="text" th:field="*{serverPort}" class="validate"/>
                    <label th:for="*{serverPort}">Server port</label>
                </div>
            </div>
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                <i class="mdi-content-send right"></i>
            </button>
        </form>
    </div>
</div>
<script th:src="@{/static/js/jquery-2.1.3.min.js}"></script>
<script th:src="@{/static/materialize/js/materialize.min.js}"></script>
</body>
</html>